<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../fonts.css">
    <link rel="stylesheet" href="../../base.css">
    <link rel="stylesheet" href="StyleFases.css">
    <link rel="shortcut icon" href="../../src/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="../../src/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../src/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../src/favicon-16x16.png">
    <link rel="manifest" href="../../src/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">   
    <script src="../../script/variaveis.js" defer></script>
    <script src="../../script/script.js" defer></script>
    <script src="../../script/TextLoaderFase01.js" defer></script>
    <script src="../../script/FaseLoader.js" defer></script>
    <!-- <script src="../../script/PersoLoader.js" defer></script> -->
    <title>Fase 1 | INICIO | Pokemon Style Cs</title>       
</head>
<body id="BodyFase01">
    <header id="HeaderFase01">
        <h1>Fase 01</h1>
        <div class="InfoHeader" id="InfoHeader">            
            <div class="Next" onclick="LiberarNext()"><i class="fa-solid fa-angles-right"></i></div>
            <div class="Before" onclick="LiberarPrevious()"><i class="fa-solid fa-angles-left"></i></div>
        </div>        
    </header>
    <div class="InforText"></div>
    <div class="btn"><button class="btn Wait">Seguir</button></div>
</body>
<script src="../../script/Fase01.js" defer></script>    
</html>